.select {
  display: inline-block;

  :global {
    .el-select,
    .el-radio-group {
      height: 40px;
      display: block;
    }

    .el-radio {
      height: 40px;
      line-height: 40px;
    }
  }
}
