.head {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #bfbfbf;
}

.title {
  margin-right: 10px;
  font-size: 14px;
  color: #606266;
}

.tips {
  margin-top: 10px;
  font-size: 14px;
  color: #ccc;
}

.content {
  margin-top: 10px;
}
