.head {
  display: flex;
  align-items: center;
}

.title {
  margin-right: 10px;
  font-size: 14px;
  color: #606266;
}

.tips {
  margin-top: 10px;
  font-size: 14px;
  color: #ccc;
}

.content {
  margin-top: 10px;
}
