.upload {
  display: flex;
  align-items: center;

  &:not(.disabled) :global(.el-upload):hover {
    border-color: #409eff;

    .trigger {
      color: #409eff;
    }
  }
}

.uploader {
  :global {
    .el-upload {
      border: 1px dashed #c0ccda;
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      transition: border-color .5s;

      .el-image {
        display: block;
        line-height: 1;
      }
    }
  }
}

.uploader {
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
}

.img {
  margin-right: 10px;
  margin-bottom: 10px;
  vertical-align: top;
}

.trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  color: #8c939d;
  text-align: center;
  transition: color .5s;
}

.icon {
  font-size: 28px;
}

:global(.is-error) {
  :global(.el-upload) {
    border-color: #f00;
  }

  .trigger {
    color: #f00
  }
}
